*, 
*:before, 
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body * {
    font-family: #{$font-family};
    font-style: normal;
    letter-spacing: -0.5px;
}

h1, h2, h3, h4,
a, p {
    color: $theme__font-color__black;
}

img {
    width: 100%;
}

.site-header, 
.site-main,
.site-footer {
    margin: 0 auto;
    width: calc(100% - 200px);
    max-width: 1080px;
    padding-left: 16px;
    padding-right: 16px;

    @include sp-screen {
        width: 100%;
        max-width: none;
    }
}

.content-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;

    @include sp-screen {
        flex-direction: column-reverse;
    }

    .content {
        width: 100%;
        max-width: 682px;

        @include sp-screen {
            max-width: none;
        }
    }

    .sidebar {
        width: 30%;
        max-width: 300px;
        padding-left: 30px;
        margin-left: 16px;

        @include sp-screen {
            width: 100%;
            max-width: none;
            padding-left: 0;
            margin-left: 0;
        }
    }
}

.front-page {
    .sidebar {
        @include sp-screen {
            display: none;
        }
    }
}

.post-image-container {
    &__image {
        width: 100%;
    }
}

.archive__pagination-next-class {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .archive-page__pagination-next__image {
        width: 20px;
    }
}