*, 
*:before, 
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body * {
    font-family: #{$font-family};
    font-style: normal;
    color: $theme__font-color__black;
    letter-spacing: -0.5px;
}

.site-header, 
.site-main,
.site-footer {
    margin: 0 auto;
    width: calc(100% - 200px);
    max-width: 1080px;
    padding-left: 16px;
    padding-right: 16px;

    @include sp-screen {
        width: 100%;
        max-width: none;
    }
}

.content-wrap {
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;

    .content {
        width: 100%;
        max-width: 718px;

        @include sp-screen {
            max-width: none;
        }
    }

    .sidebar {
        width: 30%;
        max-width: 300px;
        margin-left: 30px;

        @include sp-screen {
            display: none;
        }
    }
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 14px;
    height: 14px;
    margin-left: 5px;

    .arrow-box {
        position: absolute;
        width: 100%; 
        height: 100%;

        .arrow {
            position: absolute; 
            bottom: 0;  
            margin-left: 0; 
            width: 100%; 
            height: 100%;
        }

        .next {
            &:before {
                content: '';
                display: block;
                width: 6px;
                height: 1px;
                background: $theme__font-color__emerald;
                transform: rotate(45deg);
                position: absolute;
                top: 5px;
            }
            &:after {
                content: '';
                display: block;
                width: 6px;
                height: 1px;
                background: $theme__font-color__emerald;
                transform: rotate(-45deg);
                position: absolute;
                bottom: 4px;
            }
        }

        .segunda {
            margin-left: 8px;
        }
    }
}