.site-header {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    
    @include sp-screen {
        padding-bottom: 0;
    }
}

.logo-text {
    position: relative;
    margin-right: 64px;

    p {
        font-size: 25px;
        font-family: 'Cutive Mono', monospace;
    }
}

.hamburger-menu {
    width: 30px;
    height: 20px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 16px;
    z-index: 100;
    display: none;

    @include sp-screen {
        display: block;
    }

    span {
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 50px;
        background-color: $theme-black;
        transition: 600ms cubic-bezier(0.11, 0.45, 0.54, 0.91);
    }

    span:nth-of-type(2) {
        width: 80%;
        top: 8px;
        right: 0;
    }

    span:nth-of-type(3) {
        bottom: 0;
    }
}

.global-navi {
    display: flex;
    justify-content: flex-end;

    @include sp-screen {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        z-index: 99;

        &:before {
            content: '';
            z-index: 99;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $theme-white;
            opacity: 0.9;
        }
    }
    
    ul {
        display: flex;

        @include sp-screen {
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
        }

        li {
            margin-right: 24px;

            @include sp-screen {
                width: 100%;
                margin: 0;
                text-align: center;
            }

            a {
                display: inline-block;
                font-size: 14px;
                font-weight: 200;
                letter-spacing: 1.5px;
                position: relative;
                padding-bottom: 4px;

                @include sp-screen {
                    width: 100%;
                    padding: 20px 0;
                    z-index: 99;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    background: $theme__font-color__black;
                    transform: scale(0,1);
                    transform-origin: right top;
                    transition: transform .4s cubic-bezier(1,0,0,1);

                    @include sp-screen {
                        display: none;
                    }
                }
            }

            a:hover {
                &:before {
                    transform: scale(1,1);
                    transform-origin: left top;
                }
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}

.site-header.is-active {
    .hamburger-menu {
        span {
            width: 80%;
            left: 3px;
            transition: 600ms cubic-bezier(0.11, 0.45, 0.54, 0.91);
            background-color: $theme-black;
        }

        span:nth-of-type(1) {
            transform: translateY(8px) rotate(-45deg);
        }
        span:nth-of-type(2) {
            opacity: 0;
        }
        span:nth-of-type(3) {
            transform: translateY(-8px) rotate(45deg);
        }
    }
    .global-navi {
        display: block;
    }
}

.header-single-page {
    position: relative;
    z-index: 2;

    .logo-text {
        &:before {
            background: $theme-white;
        }
        
        p {
            color: $theme__font-color__white;
        }
    }

    .global-navi {
        ul {
            li {
                a {
                    color: $theme__font-color__white;

                    @include sp-screen {
                        color: $theme__font-color__black;
                    }

                    &:before {
                        background: $theme__font-color__white;
                    }
                }
            }
        }
    }

    .hamburger-menu {
        span {
            background-color: $theme-white;
        }
    }
    .hamburger-menu.active {
        span {
            background-color: $theme-black;
        }
    }
}