.global-navi {
    margin-top: 100px;
    margin-bottom: 30px;

    ul {
        display: flex;

        li {
            margin-right: 20px;

            a {
                font-size: 18px;
                font-weight: 200;
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}