.post {
    position: relative;
    padding: 60px 0;

    @include sp-screen {
        padding: 50px 0;
    }

    .post-list {
        &__item {
            position: relative;
            border-radius: 20px;
            margin-bottom: 60px;

            &__new-icon {
                display: none;
                position: absolute;
                top: -12px;

                .new-icon {
                    color: $theme-red;
                    font-size: 10px;
                }
            }

            &__title {
                text-align: left;
                
                .title {
                    font-size: 34px;
                    font-weight: 700;
                    line-height: 1.5;

                    @include sp-screen {
                        font-size: 30px;
                        letter-spacing: 0;
                    }
                }
            }

            &__date {
                padding-top: 16px;
                padding-bottom: 16px;

                .date {
                    font-size: 12px;
                }
            }

            &__image {
                position: relative;

                .year-container {
                    padding-top: 16px;
                    display: inline-flex;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;

                    .year {
                        font-size: 12px;
                        letter-spacing: 1.5px;
                        color: $theme__font-color__white;
                    }
                }

                .post-image-container {
                    filter: brightness(0.85);
                    margin-left: -16px;
                    margin-right: -16px;

                    .image {
                        width: 100%;
                        height: 350px;
                        object-fit: cover;

                        @include sp-screen {
                            height: auto;
                        }
                    }
                }

                .tags-container {
                    padding-bottom: 16px;
                    display: flex;
                    align-content: center;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 1;
    
                    .tag {
                        display: inline-flex;
                        margin-right: 10px;
    
                        span {
                            font-size: 10px;
                            color: $theme__font-color__white;
                        }
                    }
    
                    .tag:last-child {
                        margin-right: 0;  
                    } 
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                margin-top: 24px;

                .content {
                    padding: 0;
                    font-size: 14px;
                    line-height: 2;
                    color: $theme__font-color__gray2;
                }

                .link {
                    padding: 24px 0;
                    display: inline-flex;
                    margin: 0 auto;

                    span {
                        color: $theme__font-color__gray;
                        font-size: 14px;
                        font-weight: 200;
                    }

                    &:hover {
                        @include arrow-animation
                    }
                }
            }
        }

        &__item:last-child {
            margin-bottom: 0;
        }
    }
}

.post:last-child {
    margin-bottom: 0;
}