.about {
    &__content {
        p {
            color: $theme__font-color__gray2;
            font-size: 12px;
            line-height: 2;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;

        a {
            font-size: 14px;
        }
    }
}