.about {
    &__content {
        p {
            color: $theme__font-color__gray2;
            font-size: 12px;
            line-height: 2;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        margin-top: 24px;

        a {
            display: flex;
            margin-bottom: 16px;

            span {
                color: $theme__font-color__emerald;
                font-size: 14px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                .arrow {
                    animation-name: bounceAlpha;
                    animation-duration:1.4s;
                    animation-iteration-count:infinite;
                    animation-timing-function:linear;
                }
        
                .arrow.primera {
                    animation-name: bounceAlpha;
                    animation-duration:1.4s;
                    animation-delay:0.2s;
                    animation-iteration-count:infinite;
                    animation-timing-function:linear;
                }
            }
        }
    }
}