.about {
    &__content {
        p {
            color: $theme__font-color__gray2;
            font-size: 12px;
            line-height: 2;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        margin-top: 24px;

        .link {
            display: flex;
            margin-bottom: 16px;

            span {
                color: $theme__font-color__emerald;
                font-size: 14px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                @include arrow-animation
            }
        }
    }
}