.single-page-wrap {
    max-width: 808px;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 200px;

    @include sp-screen {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .single-page {
        padding-left: 64px;
        padding-right: 64px;

        @include sp-screen {
            padding: 0;
        }

        &__title-and-date {
            margin: 0 -64px 40px;

            @include sp-screen {
                margin: 0 0 20px;
            }

            .title {
                margin-bottom: 40px;
                font-size: 45px;
                line-height: 1.5;
                letter-spacing: -1px;

                @include sp-screen {
                    margin-bottom: 20px;
                    font-size: 30px;
                    letter-spacing: 0;
                }
            }

            .date {
                color: $theme__font-color__gray2;
                font-size: 14px;
            }
        }

        &__image-container {
            position: relative;
            margin-left: -64px;
            margin-right: -64px;


            @include sp-screen {
                margin-left: -16px;
                margin-right: -16px;
            }

            &__tags {
                display: flex;
                position: absolute;
                bottom: 0;
                left: -24px;
                transform: rotate(-90deg) translateY(100%);
                transform-origin: 0 100%;

                @include sp-screen {
                    display: none;
                }

                .tag {
                    margin-right: 8px;

                    p {
                        color: $theme__font-color__gray;
                        font-size: 10px;
                    }
                }
            }

            &__image {
                width: 100%;
            }
        }

        &__content {
            margin-top: 40px;
            font-size: 16px;
            line-height: 2.4;
            letter-spacing: 1px;
            color: $theme__font-color__gray2;

            @include sp-screen {
                margin-top: 20px;
                font-size: 14px;
            }

            a {
                color: #4773BA;

                &:hover {
                    border-bottom: 1px solid #4773BA;

                    @include sp-screen {
                        border-bottom: none;
                    }
                }
            }

            h2 {
                color: $theme__font-color__gray3;
                font-size: 32px;
                margin-bottom: 16px;
                line-height: 1.5;

                @include sp-screen {
                    font-size: 24px;
                    margin-bottom: 8px;
                }
            }

            h3 {
                color: $theme__font-color__gray3;
                font-size: 24px;
                margin-bottom: 8px;
                line-height: 1.5;

                @include sp-screen {
                    font-size: 18px;
                }
            }

            strong {
                font-weight: 400;
                line-height: 2;
                letter-spacing: 1px;
                background-color: #fdf487;
                color: $theme__font-color__gray2;
            }

            ol.EnlighterJS, 
            ul.EnlighterJS {
                margin: 20px 0;
            }
        }
    }

    .single-page-pagination {
        display: flex;
        margin-top: 100px;
        padding-left: 64px;
        padding-right: 64px;

        p {
            font-size: 14px;
            line-height: 1.5;
        }

        .previous-page {
            flex: 1;

            &__link {
                display: inline-block;

                .pagination-container {
                    padding-right: 24px;
                }
            }
        }

        .next-page {
            flex: 1;

            &__link {
                display: inline-block;

                .pagination-container {
                    padding-left: 24px;
                }
            }
        }
    }
}