.sidebar-profile {
    padding-top: 60px;

    @include sp-screen {
        display: none;
    }

    &__image-container {
        margin: 0 auto;
        margin-bottom: 16px;
        max-width: 150px;
        border-radius: 50%;
        overflow: hidden;

        &__image {
            width: 100%;
        }
    }

    &__name-container {
        text-align: center;
        margin-bottom: 32px;

        &__name {
            font-size: 16px;
        }
    }

    &__content-container {
        .about {
            &__link {
                a {
                    justify-content: flex-end;
                }
            }
        }
    }
}

.front-page {
    .sidebar-profile {
        @include sp-screen {
            display: block;
            border-bottom: 1px solid #d8d8d8;
            padding-bottom: 60px;
        }

        &__image-container {
            @include sp-screen {
                max-width: 100px;
            }
        }

        &__name-container {
            @include sp-screen {
                margin-bottom: 16px;
            }
        }

        &__content-container {
            .about {
                &__link {
                    @include sp-screen {
                        display: none;
                    }
                }
            }
        }
    }
}