.sidebar-tags {
    padding-top: 100px;

    @include sp-screen {
        padding-top: 0;
        margin-top: 65px;
    }

    .tag-title {
        text-align: center;
        margin-bottom: 32px;

        @include sp-screen {
            text-align: left;
            margin-bottom: 16px;
        }

        span {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .tag-list {
        display: flex;
        flex-wrap: wrap;

        .all-tag {
            opacity: 0.5;
            background-color: $theme__font-color__gray;

            p {
                color: $theme__font-color__white;
            }
        }

        &__item {
            margin: 0 8px 10px 0;
            padding: 3px 5px;

            @include sp-screen {
                margin: 0 10px 10px 0;
            }

            p {
                color: $theme__font-color__gray;
                font-size: 14px;
            }
        }

        .current-selected-tag, .all-tag.current-selected-tag {
            opacity: 1;
            background-color: $theme__font-color__gray2;
            
            p {
                color: $theme__font-color__white;
            }
        }
    }
}