.post {
    .post-list {
        &__item {
            position: relative;
            border-radius: 20px;
            padding: 32px;
            margin-bottom: 60px;
            box-shadow: 3px 0 21px -2px rgba(0, 0, 0, 0.16);

            &__new-icon {
                position: absolute;
                left: 15px;
                top: 15px;
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $theme-red;

                .new-icon {
                    color: $theme-white;
                    font-size: 16px;
                }
            }

            &__title {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 0 16px;
                
                .title {
                    font-size: 25px;
                    font-weight: normal;
                    line-height: 2;
                }
            }

            &__tags {
                display: flex;
                align-content: center;
                justify-content: center;
                margin-bottom: 48px;

                .tag {
                    display: inline-flex;
                    background-image: linear-gradient(277deg,#42E695,#3BB2B8);
                    padding: 4px 8px;
                    margin-right: 10px;
                    border-radius: 2px;

                    span {
                        font-size: 14px;
                        color: $theme__font-color__white;
                    }
                }

                .tag:last-child {
                    margin-right: 0;  
                } 
            }

            &__image {
                position: relative;

                .date-container {
                    position: absolute;
                    right: 0;
                    top: -20px;
                    display: inline-flex;

                    .date {
                        font-size: 12px;
                        letter-spacing: 1.5px;
                        color: $theme__font-color__gray;
                    }
                }

                .post-image-container {
                    margin-left: -32px;
                    margin-right: -32px;

                    .image {
                        width: 100%;
                        height: 350px;
                        object-fit: cover;
                    }
                }
            }

            &__content {
                padding: 0 16px;
                margin-top: 24px;

                .content {
                    font-size: 17px;
                    line-height: 2;
                    color: $theme__font-color__gray2;
                }

                .link {
                    margin-top: 24px;
                    display: flex;
                    justify-content: center;

                    span {
                        color: $theme__font-color__emerald;
                        font-size: 14px;
                    }

                    &:hover {
                        @include arrow-animation
                    }
                }
            }
        }

        &__item:last-child {
            margin-bottom: 0;
        }
    }
}