// NanumSquare
@font-face {
    font-family: "NanumSquare";
    font-weight: 300;
    font-style: normal;
    src: url('/app/themes/frankeylab/fonts/NanumSquare/NanumSquareL.woff') format('woff');
}
@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    font-style: normal;
    src: url('/app/themes/frankeylab/fonts/NanumSquare/NanumSquareR.woff') format('woff');
}
@font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    font-style: normal;
    src: url('/app/themes/frankeylab/fonts/NanumSquare/NanumSquareB.woff') format('woff');
}

// Lato
@font-face {
    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    src: url('/app/themes/frankeylab/fonts/Lato/Lato-Light.woff') format('woff');
}
@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url('/app/themes/frankeylab/fonts/Lato/Lato-Regular.woff') format('woff');
}
@font-face {
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    src: url('/app/themes/frankeylab/fonts/Lato/Lato-Bold.woff') format('woff');
}

$font-family: '"Lato", "NanumSquare", sans-serif';