$theme-black                : #222222;
$theme-white                : #ffffff;
$theme-red                  : #FF3232;

$theme__font-color__black   : #000000;
$theme__font-color__gray    : #979797;
$theme__font-color__gray2   : #555555;