$theme-black                : #222222;
$theme-white                : #ffffff;
$theme-red                  : #FF3232;

$theme__font-color__black   : #000000;
$theme__font-color__white   : #ffffff;
$theme__font-color__gray    : #979797;
$theme__font-color__gray2   : #555555;
$theme__font-color__gray3   : #333333;
$theme__font-color__emerald : #33c1ab;

@keyframes bounceAlpha {
    0% {opacity: 1; transform: translateX(0px) scale(1);}
    25%{opacity: 0; transform:translateX(10px) scale(0.9);}
    26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: translateX(0px) scale(1);}
}